/* Adotion */
.adoption
	.card-body
		color: #000
		
	#address-column
		height: 50px

		form
			width: 100%
			height: 100%
			
			.form-group
				height: 100%
				margin: 0

				input
					width: 100%
					height: 100%
					padding: 0 10px
					border: 0
	#other-type
		button
			line-height: 0
			
	.dropdown-menu 
		width: 100%
		top: -3px !important
		border-radius: 0

	.pet-type-column
		button
			@include buttonStyle(block, 100%, 50px, white, #1C8199)
			border-radius: 0

			&:hover
				background: #244169
				color: white

	#load-more-pets,
	.adopt-this-pet
		@include buttonStyle(block, 150px, 50px, white, #1C8199)
		margin: auto

