/* Banner */
.banner
	button
		@include buttonStyle(block, 150px, 50px, white, #1C8199)
		margin: auto

	.doggo-peeking
		display: block
		width: 40%
		height: auto
		position: absolute
		bottom: 0
		left: 0
		right: 0
		margin: auto