/* Contact */
.contact
	background: black

	.main-contact-wrapper
		width: 80%
		margin: auto

	#map-container
		iframe
			width: 100%
			height: 100%

	#contact-form-wrapper
		form
			width: 100%
			margin: auto

			.form-control
				background: transparent
				text-align: center
				color: white
				border: 0
				border-bottom: 1px solid #ccc
				border-radius: 0

			textarea
				width: 100%
				color: white
				background: transparent                
				padding: 10px
				height: 200px
				resize: none
				border: 1px solid #ccc

			button
				width: 100%
				background-color: #fed50b
				border: 0

	h2
		color: #fed50b

	p
		color: white
