/* Donation */
.donation		
	#donation-form
		color: #000
		background: white

		.title
			font-size: 1.5rem

		#currency, 
		#secure
			width: 180px
			height: 38px
			line-height: 38px
			text-align: right

		button
			@include buttonStyle(block, 100%, 50px, white, #1C8199)

			&:hover
				background: #244169
				color: white

		#payment-options
			button
				@include buttonStyle(block, 100%, 100px, white, #1C8199)
				line-height: 15px
				border-radius: 5px

				&:hover
					background: #244169
					color: white

			#assurance-message
				line-height: 1.3rem

	#donation-request
		font-size: 1.8rem