/* Gallery */
/* Gallery */
.gallery
	padding: 0
	
	&::after
		content: ''
		display: block
		clear: both
	
	.gallery-wrapper
		.gallery-item
			float: left
			width: 100%
			height: 30vh
			position: relative

			&:hover
				> .gallery-description
					display: block

			&:nth-child(1)
				background-image: url(../images/gallery1.jpg)
				background-size: cover
				background-position: center

			&:nth-child(2)
				background-image: url(../images/gallery2.jpg)
				background-size: cover
				background-position: center

			&:nth-child(3)
				background-image: url(../images/gallery3.jpg)
				background-size: cover
				background-position: center

			&:nth-child(4)
				background-image: url(../images/gallery4.jpg)
				background-size: cover
				background-position: center

			&:nth-child(5)
				background-image: url(../images/gallery5.jpg)
				background-size: cover
				background-position: center

			&:last-child
				background-image: url(../images/gallery6.jpg)
				background-size: cover
				background-position: center

			.gallery-description
				display: none
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				background: rgba(0, 0, 0, 0.5)
				text-align: center
				font-family: 'Bowlby One SC', cursive
				font-size: 1.5vw
				color: white
				padding: 3rem 0

/* Media Queries */
/* Tablet */
@media only screen and (min-width: 401px) and (max-width: 960px)
	.gallery
		.gallery-wrapper
			.gallery-item
				width: 50%
/* Desktop */
@media only screen and (min-width: 961px)
	.gallery
		.gallery-wrapper
			.gallery-item
				width: 33.33%
