/* Button */
@mixin buttonStyle($display, $width, $height, $color, $background)
	display: $display
	width: $width
	height: $height
	line-height: $height
	background: $background
	font-size: 1vw
	color: $color
	border: 0
	border-radius: 300px

	&:hover
		background: $color
		color: $background
