/* Site Information */
.site-information
	display: none
	color: white
	z-index: 2
	position: absolute

	.site-logo
		width: 50px
		height: 50px
		position: fixed
		top: 20px
		left: 20px

	.social-media
		display: inline-block
		width: 30px
		position: fixed
		top: 50%
		right: 30px
		transform: translateY(-50%)
		z-index: 2

		li
			height: 30px
			line-height: 30px
			text-align: center
			background: white
			margin-bottom: 10px
			cursor: pointer

	.contact-detail
		position: fixed
		bottom: 0
		left: 20px

	.copyright
		position: fixed
		bottom: 0
		right: 30px
			
/* Tablet */
@media only screen and (min-width: 401px) and (max-width: 960px)
	.site-information
		display: block

/* Desktop */
@media only screen and (min-width: 961px)
	.site-information
			display: block