@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
/* Button */
/* Site Information */
.site-information {
  display: none;
  color: white;
  z-index: 2;
  position: absolute;
}
.site-information .site-logo {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 20px;
  left: 20px;
}
.site-information .social-media {
  display: inline-block;
  width: 30px;
  position: fixed;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  z-index: 2;
}
.site-information .social-media li {
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: white;
  margin-bottom: 10px;
  cursor: pointer;
}
.site-information .contact-detail {
  position: fixed;
  bottom: 0;
  left: 20px;
}
.site-information .copyright {
  position: fixed;
  bottom: 0;
  right: 30px;
}

/* Tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .site-information {
    display: block;
  }
}
/* Desktop */
@media only screen and (min-width: 961px) {
  .site-information {
    display: block;
  }
}
/* Banner */
.banner button {
  display: block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  background: #1C8199;
  font-size: 1vw;
  color: white;
  border: 0;
  border-radius: 300px;
  margin: auto;
}
.banner button:hover {
  background: white;
  color: #1C8199;
}
.banner .doggo-peeking {
  display: block;
  width: 40%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* About */
.about .our-mission {
  font-size: 2rem;
}

/* Services */
.services button {
  display: block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  background: #1C8199;
  font-size: 1vw;
  color: white;
  border: 0;
  border-radius: 300px;
  margin: auto;
}
.services button:hover {
  background: white;
  color: #1C8199;
}

/* Adotion */
.adoption .card-body {
  color: #000;
}
.adoption #address-column {
  height: 50px;
}
.adoption #address-column form {
  width: 100%;
  height: 100%;
}
.adoption #address-column form .form-group {
  height: 100%;
  margin: 0;
}
.adoption #address-column form .form-group input {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border: 0;
}
.adoption #other-type button {
  line-height: 0;
}
.adoption .dropdown-menu {
  width: 100%;
  top: -3px !important;
  border-radius: 0;
}
.adoption .pet-type-column button {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #1C8199;
  font-size: 1vw;
  color: white;
  border: 0;
  border-radius: 300px;
  border-radius: 0;
}
.adoption .pet-type-column button:hover {
  background: white;
  color: #1C8199;
}
.adoption .pet-type-column button:hover {
  background: #244169;
  color: white;
}
.adoption #load-more-pets,
.adoption .adopt-this-pet {
  display: block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  background: #1C8199;
  font-size: 1vw;
  color: white;
  border: 0;
  border-radius: 300px;
  margin: auto;
}
.adoption #load-more-pets:hover,
.adoption .adopt-this-pet:hover {
  background: white;
  color: #1C8199;
}

/* Donation */
.donation #donation-form {
  color: #000;
  background: white;
}
.donation #donation-form .title {
  font-size: 1.5rem;
}
.donation #donation-form #currency,
.donation #donation-form #secure {
  width: 180px;
  height: 38px;
  line-height: 38px;
  text-align: right;
}
.donation #donation-form button {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #1C8199;
  font-size: 1vw;
  color: white;
  border: 0;
  border-radius: 300px;
}
.donation #donation-form button:hover {
  background: white;
  color: #1C8199;
}
.donation #donation-form button:hover {
  background: #244169;
  color: white;
}
.donation #donation-form #payment-options button {
  display: block;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: #1C8199;
  font-size: 1vw;
  color: white;
  border: 0;
  border-radius: 300px;
  line-height: 15px;
  border-radius: 5px;
}
.donation #donation-form #payment-options button:hover {
  background: white;
  color: #1C8199;
}
.donation #donation-form #payment-options button:hover {
  background: #244169;
  color: white;
}
.donation #donation-form #payment-options #assurance-message {
  line-height: 1.3rem;
}
.donation #donation-request {
  font-size: 1.8rem;
}

/* Gallery */
/* Gallery */
.gallery {
  padding: 0;
}
.gallery::after {
  content: "";
  display: block;
  clear: both;
}
.gallery .gallery-wrapper .gallery-item {
  float: left;
  width: 100%;
  height: 30vh;
  position: relative;
}
.gallery .gallery-wrapper .gallery-item:hover > .gallery-description {
  display: block;
}
.gallery .gallery-wrapper .gallery-item:nth-child(1) {
  background-image: url(../images/gallery1.jpg);
  background-size: cover;
  background-position: center;
}
.gallery .gallery-wrapper .gallery-item:nth-child(2) {
  background-image: url(../images/gallery2.jpg);
  background-size: cover;
  background-position: center;
}
.gallery .gallery-wrapper .gallery-item:nth-child(3) {
  background-image: url(../images/gallery3.jpg);
  background-size: cover;
  background-position: center;
}
.gallery .gallery-wrapper .gallery-item:nth-child(4) {
  background-image: url(../images/gallery4.jpg);
  background-size: cover;
  background-position: center;
}
.gallery .gallery-wrapper .gallery-item:nth-child(5) {
  background-image: url(../images/gallery5.jpg);
  background-size: cover;
  background-position: center;
}
.gallery .gallery-wrapper .gallery-item:last-child {
  background-image: url(../images/gallery6.jpg);
  background-size: cover;
  background-position: center;
}
.gallery .gallery-wrapper .gallery-item .gallery-description {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: "Bowlby One SC", cursive;
  font-size: 1.5vw;
  color: white;
  padding: 3rem 0;
}

/* Media Queries */
/* Tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .gallery .gallery-wrapper .gallery-item {
    width: 50%;
  }
}
/* Desktop */
@media only screen and (min-width: 961px) {
  .gallery .gallery-wrapper .gallery-item {
    width: 33.33%;
  }
}
/* Contact */
.contact {
  background: black;
}
.contact .main-contact-wrapper {
  width: 80%;
  margin: auto;
}
.contact #map-container iframe {
  width: 100%;
  height: 100%;
}
.contact #contact-form-wrapper form {
  width: 100%;
  margin: auto;
}
.contact #contact-form-wrapper form .form-control {
  background: transparent;
  text-align: center;
  color: white;
  border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}
.contact #contact-form-wrapper form textarea {
  width: 100%;
  color: white;
  background: transparent;
  padding: 10px;
  height: 200px;
  resize: none;
  border: 1px solid #ccc;
}
.contact #contact-form-wrapper form button {
  width: 100%;
  background-color: #fed50b;
  border: 0;
}
.contact h2 {
  color: #fed50b;
}
.contact p {
  color: white;
}

/* General Style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus {
  outline: none !important;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  color: #fff;
}

ul {
  list-style: none;
}

.navbar-light .navbar-toggler {
  float: right;
}

h1,
h2 {
  font-family: "Bowlby One SC", cursive;
}

/* Section */
section {
  min-height: 100vh !important;
  position: relative;
}
section .absolute-center {
  position: relative;
}

.backdrop {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

/* Slick */
.slick-arrow {
  display: none !important;
}

.slick-dots {
  position: fixed;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}
.slick-dots .slick-active button {
  background: lightblue;
}
.slick-dots .slick-active button::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -5px;
  left: -5px;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.slick-dots button {
  width: 10px;
  height: 10px;
  position: relative;
  border: 0;
  border-radius: 50%;
  text-indent: -999999px;
}

/* Tablet */
@media screen and (min-width: 401px) and (max-width: 960px) {
  section .absolute-center {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/* Desktop */
@media screen and (min-width: 961px) {
  section .absolute-center {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.nav-pills .nav-link {
  color: #fff !important;
}

/*# sourceMappingURL=style.css.map */
