@import '../../node_modules/bootstrap/dist/css/bootstrap.css'
@import './mixins'
@import './variables'
@import './site-information'
@import './banner'
@import './about'
@import './services'
@import './adoption'
@import './donation'
@import './gallery'
@import './contact'

/* General Style */
*
	padding: 0
	margin: 0
	box-sizing: border-box

:focus
	outline: none !important

html
	-webkit-tap-highlight-color: transparent

body
	color: #fff

ul
	list-style: none

.navbar-light 
	.navbar-toggler
		float: right
h1,
h2
	font-family: 'Bowlby One SC', cursive
/* Section */
section
	min-height: 100vh !important
	position: relative


	.absolute-center
		position: relative

.backdrop
	display: block
	width: 100%
	height: 100%
	position: fixed
	top: 0
	left: 0
	background: rgba(0, 0, 0, 0.7)

/* Slick */
.slick-arrow
	display: none !important

.slick-dots
	position: fixed
	top: 50%
	left: 30px
	transform: translateY(-50%)
	
	.slick-active
		button
			background: lightblue

			&::after
				content: ''
				display: block
				width: 20px
				height: 20px
				position: absolute
				top: -5px
				left: -5px
				border: 5px solid rgba(255,255,255,0.5)
				border-radius: 50%
	button
		width: 10px
		height: 10px
		position: relative
		border: 0
		border-radius: 50%
		text-indent: -999999px
			
/* Tablet */
@media screen and (min-width: 401px) and (max-width: 960px)
	section
		.absolute-center
			width: 100%
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)

/* Desktop */
@media screen and (min-width: 961px)
	section
		.absolute-center
			width: 100%
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)

.nav-pills 
	.nav-link 
		color: #fff !important